USE [master]
GO
/****** Object:  Database [DrinksDb]    Script Date: 16/11/2015 16:16:30 ******/
CREATE DATABASE [DrinksDb]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'DrinksDb', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL11.MSSQLSERVER\MSSQL\DATA\DrinksDb.mdf' , SIZE = 5120KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'DrinksDb_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL11.MSSQLSERVER\MSSQL\DATA\DrinksDb_log.ldf' , SIZE = 2048KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [DrinksDb].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [DrinksDb]
GO
/****** Object:  Table [dbo].[DRINK]    Script Date: 16/11/2015 16:16:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[DRINK](
	[PK_DRINK] [int] IDENTITY(1,1) NOT NULL,
	[NAME] [varchar](250) NOT NULL,
	[PHOTO] [varbinary](max) NOT NULL,
	[FK_SIZE] [int] NOT NULL,
	[FK_TYPE] [int] NOT NULL,
	[PRICE] [varchar](50) NOT NULL,
 CONSTRAINT [PK_DRINK] PRIMARY KEY CLUSTERED 
(
	[PK_DRINK] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[SIZE]    Script Date: 16/11/2015 16:16:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[SIZE](
	[PK_SIZE] [int] IDENTITY(1,1) NOT NULL,
	[SIZETYPE] [varchar](50) NOT NULL,
 CONSTRAINT [PK_SIZE] PRIMARY KEY CLUSTERED 
(
	[PK_SIZE] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[TYPE]    Script Date: 16/11/2015 16:16:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[TYPE](
	[PK_TYPE] [int] IDENTITY(1,1) NOT NULL,
	[NAME] [varchar](200) NOT NULL,
 CONSTRAINT [PK_TYPE] PRIMARY KEY CLUSTERED 
(
	[PK_TYPE] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
ALTER TABLE [dbo].[DRINK]  WITH CHECK ADD  CONSTRAINT [FK_DRINK_SIZE] FOREIGN KEY([FK_SIZE])
REFERENCES [dbo].[SIZE] ([PK_SIZE])
GO
ALTER TABLE [dbo].[DRINK] CHECK CONSTRAINT [FK_DRINK_SIZE]
GO
ALTER TABLE [dbo].[DRINK]  WITH CHECK ADD  CONSTRAINT [FK_DRINK_TYPE] FOREIGN KEY([FK_TYPE])
REFERENCES [dbo].[TYPE] ([PK_TYPE])
GO
ALTER TABLE [dbo].[DRINK] CHECK CONSTRAINT [FK_DRINK_TYPE]
GO
USE [master]
GO
