<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="DrinksProject.Data.Properties.Settings.DrinksDbConnectionString"
            connectionString="Data Source=DESKTOP-L7A4397;Initial Catalog=DrinksDb;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>