@{
    ViewBag.Title = "Drinks Project - Home";
    Layout = "~/Views/Shared/_LayoutPage.cshtml";
}

<body>
    <div class="content">
        <div class="row">
            <form class="col s12">
                <div class="row">
                    <div class="input-field col s4">
                        <input placeholder="Type the drink name" id="drinkname" type="text" class="validate">
                        <label for="drinkname">Drink</label>
                    </div>
                    <div class="input-field col s4">
                        <select id="typedrinkselect">
                            <option value="" disabled selected>Choose the drink type</option>
                        </select>
                        <label>Drink's Type</label>
                    </div>
                    <div class="input-field col s4 selectsize">
                        <select id="sizedrinkselect">
                            <option value="" disabled selected>Choose the drink's size</option>
                        </select>
                        <label>Drink's Size</label>
                    </div>
                    <div class="file-field input-field col s4">
                        <div class="btn col s3">
                            <span>Picture</span>
                            <input type="file" id="pictureinput">
                        </div>
                        <div class="file-path-wrapper">
                            <input class="file-path validate" type="text" placeholder="Upload the drink's picture">
                        </div>
                    </div>
                    <div class="input-field col s4">
                        <input placeholder="Type the drink's price" id="pricedrink" type="text" class="validate">
                        <label for="pricedrink">Price</label>
                    </div>
                </div>
                <div class="row">
                    <div class="input-field col s3">
                        <button class="btn waves-effect waves-light" type="submit" name="btnCreateDrink">
                            Register
                         <i class="material-icons"></i>
                        </button>
                    </div>
                </div>
            </form>
        </div>
        <div class="row">
            <div class="col s12">
                <table id="drinkTable" class="display">
                    <thead>
                        <tr>
                            <th>ID</th>
                            <th>Photo</th>
                            <th>Name</th>
                            <th>Type</th>
                            <th>Size</th>
                            <th>Price</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>Row 1 Data 2</td>
                            <td>Row 1 Data 2</td>
                            <td>Row 1 Data 2</td>
                            <td>Row 1 Data 2</td>
                            <td>Row 1 Data 2</td>
                            <td>Row 1 Data 2</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <div id="drinkChart" style="min-width: 310px; height: 400px; max-width: 600px; margin: 0 auto"></div>
    </div>
    <div id="modal-div"></div>
</body>

